<footer class="bg-black border-top border-secondary py-4 mt-5">
  <div class="container-xl">
    <div class="row align-items-center gy-3">
      <div class="col-12 col-md text-center text-md-start">
        <span class="text-secondary small">© 2026 THE PROGRESA - Progresa Digitech FP</span>
      </div>
      <div class="col-12 col-md-auto">
        <div class="d-flex flex-wrap gap-3 justify-content-center">
          <a class="text-secondary text-decoration-none" href="#">Privacidad</a>
          <a class="text-secondary text-decoration-none" href="#">Términos</a>
          <a class="text-secondary text-decoration-none" href="#">Soporte</a>
        </div>
      </div>
    </div>
  </div>
</footer>
